.main-page {
	margin: 3%;
}

.main-page__header {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: red;
}

.main-page__form-header {
	padding-left: 5%;
}

fieldset {
	position: relative;
	border: none;
	padding-bottom: 3%;
}

.main-page__lable {
	display: inline-block;
	padding-left: 5%;
	padding-right: 3%;
	font-weight: bolder;
	font-size: 19px;
	text-transform: capitalize;
	white-space: nowrap;
	width: 15%;
}

.main-page__input {
	width: 50%;
	padding: 7px;
	font-size: 13px;
	border-radius: 5px;
	border-color: gray;
}

#username_error,
#firstName_error,
#lastName_error,
#email_error,
#website_error,
#password_error,
#re_password_error,
#accpetTrems_error {
	font-size: 11px;
	color: red;
}

.main-page__check-box {
	margin-left: 5%;
	margin-right: 3%;
	transform: scale(1.5);
}

.main-page__check-box-lable {
	font-size: 17px;
}

.main-page__btn-submit {
	margin-left: 6%;
	padding: 7px 30px 7px 30px;
	border-radius: 4px;
	font-size: 17px;
}

@media screen and (max-width: 750px) {
	.main-page__lable {
		padding-left: 0;
		padding-right: 8%;
		font-weight: normal;
		font-size: 18px;
	}

	.main-page__input {
		width: 64%;
		padding: 7px 0 7px 3px;
		font-size: 13px;
	}
}

@media screen and (max-width: 500px) {
    .main-page__lable {
    	padding-left: 0;
    	padding-right: 17%;
    	font-weight: normal;
    	font-size: 15px;
    }

    .main-page__input {
    	width: 64%;
    	padding: 3px 0 3px 2px;
    	font-size: 11px;
    }

    #username_error,
    #firstName_error,
    #lastName_error,
    #email_error,
    #website_error,
    #password_error,
    #re_password_error {
    	position: absolute;
    	top: 69%;
    	left: 34%;
    }

    .main-page__btn-submit {
    	font-size: 13px;
    }
}